@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;  
    margin: 0;
    position: relative;
}

h3{
    margin-bottom: 0;
    text-align: center;
}

small{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.fa-heart{
    color: red;
}

.test{
    position: relative;
    margin: auto;
}
.btn{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: 5.5vw;
    font-size: 16px;
}

.btn .fa-heart{
    color: black;
    cursor: pointer;
}
.btn.active .fa-heart {
    color: red;
    cursor: pointer;
}

.loveMe{
    height: 350px;
    width: 300px;
    background: url('https://images.unsplash.com/photo-1681317474675-494bd8e91d7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80') no-repeat center center/cover;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.loveMe .fa-heart{
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}

.new{
    height: 350px;
    width: 300px;
    background: url('https://images.unsplash.com/photo-1575407271714-bea14dd89953?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=804&q=80') no-repeat center center/cover;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 20px 20px;
}

.new .fa-heart{
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow{
    to {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}



